# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Environnement
.env
.env.local

# Data files
data/
*.csv
*.parquet
*.db
*.sqlite

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Prefect
.prefect/

# Docker volumes
docker-data/

# Streamlit
.streamlit/

# Temporary files
*.tmp
*.bak
*.swp
*~
